@font-face {
	font-family: "Helvetica Neue";
	src:
		url("/fonts/HelveticaNeueRegular.woff") format("woff");
}
@font-face {
	font-family: "Helvetica Neue Bold";
	src:
		url("/fonts/HelveticaNeueBold.woff") format("woff");
}

h1,h2,h3,h4,h5,h6, header p{
  text-transform: lowercase;
}

.links {
	position: fixed;
	right: 2em;
	width: 1em;
}
.links img {
  width: 1em;
  filter:blur(2px);
  transition-property:filter;
  transition-duration: 0.5s;
}
.links img:hover {
  filter:blur(0);
}
header > h1 {
	font-size: 3em;
	font-weight: 300;
  color: #fc0;
}
.copyright {
  clear: both;
  text-align: center;
  font-size: 0.4em;
}
section > h1 {
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 0;
}
main {
  font-size: 0.5em;
}
h1 > span {
	font-size: 0.4em;
	display: block;
}
body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
	font-size: 2em;
}
a {
	text-decoration: none;
  transition-property: color;
  transition-duration: 2s;
  color: #fc0;
}
a:hover {
	/* text-decoration: underline; */
  /* border-bottom: 1px solid #333; */
  color: #f90;
}
section, footer, .pagination {
	border-top: 1px solid #eee;
}

.pagination {
  padding-top: 1em;
  list-style-type: none;
  text-align: center;
}

.pagination .disabled a {
  color: #ccc;
}

.pagination .active a {
  font-weight: bold;
}

.pagination li {
  display: inline-block;
  padding: 1em;
}
.pagination a{
  color: #000;
  font-size: 2em;
}