body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	color: #212121;
}
h1:first-child{
	color: #616161;
	font-size: 1.9em;
}
h1:first-child a{
	color: #616161;
}
h1:first-child > strong {
	color: #212121;
	font-size: 2.05em;
	position: relative;
	display: block;
}
h1{
	counter-reset: h2counter;
}
h2{
	counter-reset: h3counter;
}
@media only screen and (min-width: 992px){
	body{
		margin: 0 auto;
		width: 992px;
	}
	body > *{
		margin-left: 6.5rem;
		margin-right: 6.5rem;
		margin-top: 4rem;
	}
	h1:not(:first-child)::before {
		content: counter(h1counter) ".";
		counter-increment: h1counter;
		counter-reset: h2counter;
		display: inline-block;
		min-width: 6rem;
		text-align: right;
		margin-right: .5rem;
		color: #616161;
	}
	h2::before {
		counter-increment: h2counter;
		content: counter(h1counter) "." counter(h2counter) "." ;
		counter-reset: h3counter;
		display: inline-block;
		min-width: 6rem;
		text-align: right;
		margin-right: .5rem;
		color: #616161;
	}
	h3::before{
		content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." ;
		counter-increment: h3counter;
		display: inline-block;
		min-width: 6rem;
		text-align: right;
		margin-right: .5rem;
		color: #616161;
	}
}
@media only screen and (max-width: 992px){
	body{
		font-size: 1em;
		width: auto;
		margin: 0;
	}
	body > *{
		margin-left: 2.5rem;
		margin-right: 1rem;
		margin-top: 2rem;
	}
	h1:first-child{
		font-size: 1.4em;
	}
	h1:first-child > strong{
		font-size: 1.4em;
	}
	h1:not(:first-child),h2,h3{
		margin-left:0;
	}
	h1:not(:first-child)::before {
		content: counter(h1counter) ".";
		counter-increment: h1counter;
		counter-reset: h2counter;
		display: inline-block;
		min-width: 1.8rem;
		text-align: right;
		margin-right: .5rem;
		color: #616161;
	}
	h2::before {
		counter-increment: h2counter;
		content: counter(h1counter) "." counter(h2counter) "." ;
		counter-reset: h3counter;
		display: inline-block;
		min-width: 1.8rem;
		text-align: right;
		margin-right: .5rem;
		color: #616161;
	}
	h3::before{
		content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." ;
		counter-increment: h3counter;
		display: inline-block;
		min-width: 1.8rem;
		text-align: right;
		margin-right: .5rem;
		color: #616161;
	}
}
a{
	text-decoration: none;
}
a:hover{
	color: #039be5;
	text-decoration: underline;
}
body > ol, body > h2, #TableOfContents > ul {
	padding: 0;
}
body ol li a, #TableOfContents ul li a{
	color: #424242;
	font-weight: bold;
}
body ol li, #TableOfContents ul li{
	color: #616161;
	list-style-type: decimal;
	font-weight: normal;
}
footer{
	margin-bottom: 1em;
	text-align: center;
}
body {
	counter-reset: h1counter h2counter h3counter;
}
h1:not(:first-child){
	font-size: 1.5em;
}
h2{
	font-size: 1.16em;
}
h3{
	font-size: 1em;
	font-weight: normal;
}
h1:not(:first-child),h2,h3{
	margin-left: 0;
}
h1[data-classification='internal'] > strong{
	color: #b71c1c;
}
code{
	color: #b71c1c;
}
pre, blockquote{
	border-left: .5em solid #616161;
	padding-left: 1em;
}
footer > a > img{
	height: 24px;
}
footer > ul{
	list-style: none;
	padding:0;
}
footer > ul > li{
	display: inline-block;
}
footer > ul > li:not(:first-child){
	padding-left: 1em;
}
body > p > img {
	display: block;
	margin: 0 auto;
	text-align: center;
	max-width: 100%;
}
th {
	text-align: left;
}
table{
	margin-left: auto;
	margin-right: auto;
	border-left: .4em solid #ccc;
}
body > header:first-child > a > img {
	width: 10em;
	max-width: 1536px;
	margin: 5em auto 0 auto;
	border: 1px solid #fff;
	border-radius: 50%;
	display: block;
}
body > header:first-child > p {
	text-align: center;
	margin: 1em 2em 1em 2em;
}
body > header > p:nth-child(2) {
	font-size: 2em;
}