
		<footer>
		    <hr />
				<img src="/images/msn_2.gif" class="banner" />
			<hr />
			<ul>
				<li><a href="https://github.com/DanDonoghue">GitHub</a></li>
				<li><a href="https://uk.linkedin.com/in/daniel-donoghue-91349598">LinkedIn</a></li>
				<li><a href="/about-me">About me</a></li>
			</ul>
			<hr />
			<img src="https://www.webdesignmuseum.org/uploaded/exhibitions/web-banners-in-the-90s/internet-explorer-2000.gif" />
			<img src="https://www.webdesignmuseum.org/uploaded/exhibitions/web-banners-in-the-90s/quicktime-4-0-2000.gif" />
			<img src="/images/apache.gif" />
			<img src="/images/html_4.png" />
			<img src="/images/firefox.png" />
			<hr />
			<p>&COPY; 1999</p>
		</footer>
	</body>
</html>
