ErrorDocument 404 /404.html

RewriteEngine On
RewriteBase /
RewriteRule ^Articles/Advertisement_Rant_1(|/)$ /advertisement-rant-1/ [R=301,L]
RewriteRule ^Articles/Bridging_Router_Interfaces_in_IOS(|/)$ /bridging-router-interfaces-in-ios/ [R=301,L]
RewriteRule ^Articles/Building_Deluge_on_CentOS_7(|/)$ /building-deluge-on-centos-7/ [R=301,L]
RewriteRule ^Articles/Option_121:_My_Favourite_Option(|/)$ /option-121-my-favourite-option/ [R=301,L]
RewriteRule ^Articles/Rebuilding_My_Server_\(Part_1\)(|/)$ /rebuilding-my-server/ [R=301,L]
RewriteRule ^Articles/Setting_SELinux_Contexts_the_Proper_Way(|/)$ /setting-selinux-contexts-the-proper-way [R=301,L]
RewriteRule ^Articles/The_New_Site(|/)$ /the-new-site/ [R=301,L]
RewriteRule ^Articles/Things_That_Piss_Me_Off(|/)$ /things-that-piss-me-off/ [R=301,L]
